/*svg's*/
.bell {
    width: 50px;
    float:left;
    border-right: 1px solid #bbb;
}

.bell, .home, .bar-chart, .members, .settings {
    fill: white;
}


/*navigation bars*/
header {
    background-color: rgb(126, 117, 209);
    color: white;
}

.nav {
    background-color: rgb(83, 75, 118);
}

/*list items*/
.pfp {
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

/*body*/
  body {
      margin: 0px;
  }

.alert {
    background-color:rgb(126, 117, 209);
    color: white;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time {
    background-color:white;
    color: black;
    border-color: transparent;
    border-radius: 10px;
    padding: 5px 3px;
}


main {
    margin: 15px 15px;
}

/*media queries for phones*/
@media (min-width: 320px) {

.pfp {
    width: 30px;
    margin: 9px 0px;  
    padding-right: 2px;
    padding-left: 8px;
}

.bell {
    width: 15px;
    margin: 16px 0px;
    padding-right: 7px;
    padding-left: 16px
}

header {
    padding: 0px 5px;
}

.main-nav {
    padding: 10px 0px;
}

p, h1 {
    margin: 16px 8px;
    font-size: 15px;
}

.home, .bar-chart, .members, .settings{
    width: 35px;
    margin: 15px 0px;
    padding: 0px 15px;
}

.nav ul{
    padding: 0px 30px;
}


}

/*media queries for tablets*/
@media (min-width: 768px) {

}

/*media queries for desktops*/
@media (max-width: 1024px) {

}