
canvas {
    max-width: 100%;
  }


/* grid layout */
body {
    display: grid;
}


/*header main-nav code------------------------------------------------------- */
header {
    background-color: rgb(126, 117, 209);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-size: 25px;
}

header p {
    font-size: 20px;
    padding: 5px;
}

.main-nav .bell-dot {
    margin-left: auto;
}

.bell {
    width: 50px;
    border-right: 1px solid #bbb;
    fill: white;
}

.bell:hover {
    transform: scale(1) rotate(-20deg);
}

.bell-dot {
    position: relative;
}

.bell-dot span {
    position: absolute;
    top: 8px; right: 22px; 
    /* bottom: ; left: ; */
    height: 8px;
    width: 8px;
    background-color: lightgreen;
    border-radius: 50%;
}

.pfp {
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    float: left;
  }

.tm {
    font-size: 8px;
    margin:0px ;
    margin-top: 12px;
}

main {
    margin: 15px 15px;
}


/*second nav------------------------------------------------------------------*/
#home, #bar-chart, #members, #settings {
    fill: white;
}

#home {
    margin-left: 50px;
}

#settings {
    margin-right: 50px;
}

.nav {
    background-color: rgb(83, 75, 118);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 15px 40px;
}


/*body------------------------------------------------------------------------*/
  body {
      margin: 0px;
  }


/*dashboard-------------------------------------------------------------------*/
.main-content h3 {
    font-size: 25px;
}

.alert {
    background-color:rgb(126, 117, 209);
    color: white;
    border-color: transparent;
    border-radius: 10px;
    padding: 0px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.x {
    background-color:rgb(126, 117, 209);
    color: white;
    border-color: transparent;
    border-radius: 10px;
    font-size: 25px;
}

/*traffic---------------------------------------------------------------------*/
.time {
    background-color:white;
    color: black;
    border-color: transparent;
    border-radius: 15px;
    padding: 5px 3px 10px 3px;
    font-size: 20px;
}

.traffic-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.traffic-buttons button:focus {
    background-color: rgb(113, 225, 113);
    border-radius: 10px;
    color: white;
    /* padding: 2px 18px; */
}

.h {
margin-left: 30px;
/* background-color: rgb(113, 225, 113);
border-radius: 10px;
color: white; */
}

.m {
margin-right: 30px;
}

/*social stats----------------------------------------------------------------*/

.facebook, .instagram, .twitter {
    fill: white;
    background-color: rgb(126, 117, 209);
    border-radius: 50px;
}

.social-stat {
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    padding: 3px 10px;
    margin: 20px 5px;
    display: flex;
}

.num {
    color: grey;
    font-size: 60px;
    margin-left: 10px;
}

.platform{
    color: rgb(126, 117, 209);
    font-size: 30px;
    margin-left: 10px;
}

/*new memmbers and recent activity--------------------------------------------*/
.email {
    color: rgb(126, 117, 209);
}

.member img, 
.activity img {
    border-radius: 50%;
}


/*message user----------------------------------------------------------------*/
.search, 
.message, 
.message-user {
    border-color: rgb(162, 162, 162);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    border-color: lightgray;
}

.search, 
.message {
    margin: 8px 0px 8px 0px;
    padding: 12px;
    background-color: rgb(232, 232, 232);
    font-size: 23px;
}

.message {
    padding-bottom: 80px;
}

.message-user button {
    color:white;
    background-color: rgb(126, 117, 209);
    padding: 8px 125px;
    /* margin: auto; */
    border-radius: 8px;
    border-color: transparent;
    font-size: 23px;
}


/*settings------------------------------------------------------------------- */
.timezone {
    color:rgb(121, 121, 121);
    background-color: rgb(232, 232, 232);
    border-color: rgb(162, 162, 162);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 0px 0px 15px 0px;
    font-size: 23px;
}

.save-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-cancel button {
    border-radius: 5px;
    font-size: 23px;
    border-color: transparent;
}

.save {
    background-color: rgb(126, 117, 209);
    color: white;
    width: 50%;
    padding: 8px 10px;
    margin: 0px 8px 0px 0px;
}

.cancel {
    background-color: rgb(138, 138, 138);
    color:white;
    width: 50%;
    padding: 10px;
    margin: 0px 0px 0px 8px;
}

.switch-light > span {
    margin-right: auto;
}

.settings strong, .on-off {
    font-size: 23px;
}


/*toggle switch---------------------------------------------------------------*/
.switch-light {
    display: flex;
    justify-content: space-between;
}

.switch-light, .switch-candy {
    margin: 40px 0px;
}

.switch-light strong, .switch-candy strong {
    width: 80%;
}

.on-off {
    width: 5em;
}

.switch-light.switch-candy span, .switch-light.switch-candy span a { 
    background-color:rgb(126, 117, 209);
    border-radius: 20px;
}

.switch-light.switch-candy input ~ span span:first-child, .switch-light.switch-candy input:checked ~ span span:nth-child(2), .switch-candy input:checked + label {
    color: rgb(126, 117, 209);
    text-shadow: none;
}

.switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label {
    color: #fff;
    text-align: center;
    text-shadow: none;
    font-size: 13px;
}

canvas {
    padding: 8px;
    margin: 5px;
}

/*media queries mobile first--------------------------------------------------*/
@media (min-width: 320px) {

/*header main-nav code--------------------------------------------------------*/
    header {
        padding: 0px 5px;
    }

    .main-nav {
        padding: 10px 0px;
    }

    .pfp {
        width: 50px;
        margin: 9px 0px;  
        padding-right: 2px;
        padding-left: 18px;
    }

    .bell {
        width: 30px;
        margin: 16px 0px;
        padding: 0px 18px;
    }

    p {
        margin: 10px 8px;
        font-size: 25px;
    }

    h1{
        margin: 16px 0px 16px 8px;
        font-size: 15px;
    }


    /*second nav------------------------------------------------------------------*/
    #home, #bar-chart, #members, #settings{
        width: 50px;
        /* margin: 15px 15px;*/
        padding: 5px;
    }

    /* .nav ul{
        padding: 0px 30px;
    } */

    /*social stats----------------------------------------------------------------*/
    .facebook, .instagram, .twitter {
        width: 35px;
        margin: 22px 10px;
        padding: 8px 28px;
    }


    /*new members and members activity--------------------------------------------*/
    .member, .activity {
        text-align: center;
    }

    .activity p {
        font-size: 25px;
    }

    .new-members img, .recent img {
    width: 92px;
    }
}

/*media queries for tablets---------------------------------------------------*/
@media (min-width: 768px) {


    .main-nav h1 {
        /* padding: 5px; */
        margin-left: 20px;
        font-size: 35px;
    }

    .main-nav p {
        padding: 5px 20px 5px 0px;
        margin-left: 0px;
        font-size: 26px;
    }

    .bell {
        width: 30px;
        padding: 5px 20px;
        margin: 8px;
    }

    .pfp {
        /* width: 70px; */
        /* padding: 5px; */
        margin: 8px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content:left;
        padding: 10px 5px;
        align-items: center;
    }

    #home, #bar-chart, #members, #settings {
        padding: 15px;
        margin: 8px;
    }

    .traffic-hours {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 0px;
    }

    .time {
        padding: 0px 8px;
    }

    .daily-traffic, .mobile-users {
        /* display: flex;
        flex-direction: column; */
        flex-basis: 50%;
    }

    .group-charts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }

    

    .group-media {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
    }

    .main-content h3 {
        font-size: 35px;
    }

    .member, .activity {
        display: flex;
        text-align: unset;
        padding: 5px;
    }

    .nande {
        flex-direction: column;
        justify-content: space-between;
    }

    .status {
        flex-direction: column;
        justify-content: left;
        text-align: unset;
    }

    .activity {
        display: flex;
    }

    .message-user button {
        text-align: center;
        margin: 0px;
    }

    .mobile-users {
        margin: 5px 10px;
    }

    #mobile-users {
        margin: 0px;
        padding: 0px;
        width: 400px;
    }

    #daily-traffic {
        margin: 0px;
        padding: 0px;
        width: 300px;
    } 

    .group-charts hr {
        margin: 8px 15px;
    }

    .group-media {
        justify-content: space-between;
    }

    .social-stat {
        padding: 10px 20px;
    }

    p, .x {
        font-size: 30px;
    }

    .alert {
        padding: 10px 25px;
    }

.date {
    margin-left: auto;
}




/* grid layout */
    body {
        grid-template-columns: 85px auto;
        grid-template-rows: 85px auto;
        grid-template-areas: 
            'hd hd' 
            'nv mc';
    }

    .main-content {
        grid-area: mc;
    }
    
    header {
        grid-area: hd;
    }
    
    .nav {
        grid-area: nv;
    }

}


/*media queries for desktops--------------------------------------------------*/
@media (min-width: 1024px) {

.ppl,
.msg-set {
  display: flex;
  flex-direction: row;
}

.new-members,
.recent,
.message-user,
.settings {
  flex-basis: 50%;
}

.ppl p,
.msg-set p {
  font-size: 15px;
}

.activity img, .member img {
    width: 70px;
}
















}